#post-detail {
  * {
    margin-block: 1rem;
    font-size: 18px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    margin-block: 1.125rem;
    font-weight: 600;
    color: var(--sub2-text);
  }

  h2 {
    color: var(--sub2-text);
  }

  h4 {
    font-size: 18px;
    font-style: italic;
  }

  h5 {
    font-size: 17px;
    color: var(--sub2-text);
  }

  h6 {
    font-size: 16px;
    font-style: italic;
    color: var(--sub2-text);
  }

  img {
    max-height: 400px;
    object-fit: contain;
  }
}

#page-body {
  margin-block: 1rem;

  & > * {
    margin-block: 1rem;
  }
}
