/* theme variables and custom utility classes */

:root {
  --body: #fff;
  // --body-dark: #00193B;
  --widget: #ffffff;
  // --widget-dark: #031123;
  --header: #00193b;
  // --header-dark: #D8E9FF;
  --text: #515c6b;
  // --text-dark: #E2E1E1;
  --accent: #035ecf;
  // --accent-dark: #4F89FC;
  // --hig-dark: #273241;
  --input-border: #e2e1e1;
  // --input-border-dark: #354585;
  --border: #f1f1f1;
  // --border-dark: rgba(53, 69, 133, 0.4);
  --gray: #8d8d99;
  --label: #6e757f;
  --red: #ff5470;
  --green: #00ba9d;
  --yellow: #f8d518;
  --orange: #ff6900;
  --shadow: 0px 3px 14px rgba(226, 225, 225, 0.75);
  // --shadow-dark: 0px 3px 14px #00285D;
  --shadow-glass: inset 1px 1px 2px #ffffff, inset -2px -2px 2px #003a31;
  --radial-blue:
    radial-gradient(
      59.32% 59.32% at 50% 31.83%,
      rgba(62, 128, 211, 0.77) 0%,
      rgba(1, 40, 90, 0.77) 100%
    ),
    #00193b;
  --linear-sky:
    linear-gradient(
      44deg,
      rgba(190, 250, 241, 0.13) 0%,
      rgba(3, 94, 207, 0.2) 100%
    ),
    #fff;
  --linear-blue: linear-gradient(
    50.81deg,
    #00214d 6.78%,
    #3e80d3 65.48%,
    #01285a 101.42%
  );
  --linear-sm: linear-gradient(177deg, #00193b 0%, #035ecf 100%);
  // --linear-sm-dark: linear-gradient(177deg, #5FA3FF 0%, #035ECF 100%);
  --glass: linear-gradient(
    134.73deg,
    rgba(1, 88, 83, 0.0001) 32.33%,
    rgba(0, 112, 117, 0.186708) 79.27%
  );
  --body-font: 'Archivo', sans-serif;
  --heading-font: 'Archivo SemiExpanded', sans-serif;
  --transition: 0.3s ease-in-out;
  --element-height: 44px;
  --app-height: 100%;

  --main-color: #e0eadf;
  --sub1-color: #d2e3f3;
  --sub2-color: #f7f5ec;
  --sub3-color: #f9f6f2;
  --sub4-color: #3e553c;
  --sub5-color: #f2ee9a;

  --main-bg-opacity: #f7f5ece6;

  --sub1-text: #696969;
  --sub2-text: #f00;
  --sub3-text: #f7f5ec;
  --sub4-text: #414141;
  --sub5-text: #2f80ed;
  --sub6-text: #8c8c8c;
}

.bg-radial-blue {
  background: var(--radial-blue);
}

.bg-linear-blue {
  background: var(--linear-blue);
}

.bg-linear-sky {
  background: var(--linear-sky);
}
