@use 'vars';
@use 'fonts';
// @use '../fonts/icomoon/style.css';
@use 'global';
@use 'typo';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind peer;

.container {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin-inline: auto;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
